{
  "presets": ["@babel/react", ["@babel/env", {
    "targets": {
      "safari": 10,
      "chrome": 59,
      "edge": 15
    }
  }]],
  "plugins": [
    ["module-resolver", {
      "root": [],
      "alias": {
        "com": "./component"
      }
    }]
  ]
}
