{
  "presets": ["@babel/react", ["@babel/env", {
    "targets": {
      "safari": 10,
      "chrome": 59,
      "edge": 15
    }
  }]],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-class-properties",
    "@babel/proposal-decorators",
    [
      "module-resolver", {
        "root": [],
        "alias": {
          "com": "./component"
        }
      }
    ]
  ]
}
